export(compute_missing_pct)
exportPattern("^[^\\.]")
import(cairoDevice)
importFrom(GGally,getPlot)
importFrom(GGally,ggpairs)
importFrom(GGally,ggparcoord)
importFrom(reshape,melt.data.frame)
import(ggplot2)
import(grid)
import(gWidgetsRGtk2)
